@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$primaryColor: #3a86ff;
$backgroundColor: rgb(26, 26, 26);
$secondaryColor: #212529;
$lighterBackgroundColor: #2e2e2e;
$clear: white;

$subtitleFont: "Bebas neue";

